.field {
	margin-bottom: 18px;
	&.error {
		.input {
			label {
				color: var(--vermelho);
			}
			input {
				border-color: var(--vermelho);
			}
		}
		.field-error {
			display: block;
		}
	}
	.input {
		&.disabled {
			input {
				background-color: var(--cinza-1);
			}
		}
		label {
			display: block;
			width: max-content;
			background-color: #fff;
			padding: 8px 0;
			color: var(--cinza-4);
			span {
				color: red;
			}
		}
		input {
			border-radius: 6px;
			width: 100%;
			padding: 12px;
			border-color: var(--cinza-2);
			appearance: none;
			border-style: solid;
			&[readonly] {
				background-color: var(--cinza-2);
			}
		}
	}
	&-error {
		display: none;
		margin: 5px 0 0 5px;
		p {
			color: var(--vermelho);
		}
	}
}
